<configuration>
	<include resource="org/springframework/boot/logging/logback/base.xml"/>

<!-- 	<logger name="org.springframework" level="INFO" /> -->
<!-- 	<logger name="org.springframework.beans" level="DEBUG" /> -->


	<!-- Show Hibernate query values-->
	<!--<logger name="org.hibernate.type.descriptor.sql.BasicBinder" level="TRACE" />-->

	<logger name="ms" level="TRACE" />

	<root level="WARN">
		<appender-ref ref="console" />
	</root>

</configuration>